<template>
  <a-drawer
    v-if="dataDiagramNew[tableKeyConfig]!==undefined"
    placement="right"
    :width="637"
    :closable="false"
    @close="onClose"
    wrapClassName="tableDetailDialog"
    :visible="visible"
  >
    <div class="ant-drawer-header" :style="'background-color:' + newColor + ';'">
      <div
        v-if="isEditTableName===false"
        class="ant-drawer-title"
        :style="'color:' + newTextColor"
        @click="setIsEditTableName(true)"
      >
        {{dataDiagramNew[tableKeyConfig].table_name}}
        &nbsp;
      </div>
      <a-input
        placeholder="Table Name"
        @blur="setIsEditTableName(false)"
        @change="updateTableName({
        table_id:tableKeyConfig,
        tableNewName:$event.target.value
      })"
        style="font-size: 20px; line-height: 2;font-weight: 450;width: 100%;"
        :style="'background-color:' + newColor
          + ';' + 'color:' + newTextColor"
        v-if="isEditTableName==true"
        size="default"
        :value="dataDiagramNew[tableKeyConfig].table_name"
      />
      <template v-if="isEditTableName==false">
        <input
          type="color"
          style="color:#fffffffff;position: absolute; right: 110px; margin-top: -17px;cursor:pointer; font-size:25px"
          v-model="newColor"
          @change="updateColor(tableKeyConfig)"
        />
        <input
          type="color"
          style="color:#fffffffff;position: absolute; right: 66px; margin-top: -17px;cursor:pointer; font-size:25px"
          v-model="newTextColor"
          @change="updateTextColor(tableKeyConfig)"
        />
        <a-icon
          @click="deleteTable({
            table_id:tableKeyConfig
          })"
          type="delete"
          style="position: absolute; right: 22px; margin-top: -17px;cursor:pointer; font-size:25px"
          :style="'color:' + newTextColor"
        />
      </template>
    </div>
    <div style="overflow-y: scroll;height:720px;width:620">
      <TableDetail v-if="dataDiagramNew[tableKeyConfig].coloumns!==undefined" />
        <!-- v-show="isVisibleNewColoumn===false" -->
      <a-icon
        @click="visibleNewColoumn"
        type="plus-circle"
        style="color:#316896; margin-left: 10px; margin-top: 10px; padding-bottom:30px;cursor:pointer; font-size: 20px"
      />
    </div>
  </a-drawer>
</template>

<script>
import { mapState } from "vuex";
import { mapMutations } from "vuex";
import TableDetail from "./Component/TableDetail";
// import throttle from 'lodash/throttle'

export default {
  components: {
    TableDetail
  },
  computed: {
    ...mapState("Data/Project", {
      tableProperties: state => state.configTable.properties,
      tableName: state => state.configTable.tableName,

      dataDiagramNew: state => state.dataDiagramNew,

      isEditTableName: state => state.tableDetail.isEditTableName,
      tableKeyConfig: state => state.tableDetail.table_id,
      table_id: state => state.tableDetail.table_id,
      visible: state => state.tableDetail.visible,
      isNewTable: state => state.tableDetail.isNewTable,
      showDetailcoloumn: state => state.tableDetail.showDetailcoloumn
    })
  },
  watch: {
    tableKeyConfig: function(){
      this.newColor = this.dataDiagramNew[this.tableKeyConfig].table_color || '#316896'
      this.newTextColor = this.dataDiagramNew[this.tableKeyConfig].table_text_color || '#ffffff'
    }
  //   newColor: function () {
  //     this.throttledColor()
  //   },
  //   newTextColor: function () {
  //     this.throttledTextColor()
  //   }
  },
  // mounted() {
  //   this.newColor = this.dataDiagramNew[this.tableKeyConfig].table_color
  //   this.newTextColor = this.dataDiagramNew[this.tableKeyConfig].table_text_color
  // },
  methods: {
    cancelNewColoumn() {
      this.newColoumn.coloumnName = null;
      this.newColoumn.dataType = null;
      this.newColoumn.primaryKey = false;
      this.newColoumn.notNull = false;
      this.newColoumn.unique = false;
      this.newColoumn.autoIncrement = false;
      this.newColoumn.default = null;
      this.newColoumn.foreignKey = false;
      this.newColoumn.comment = null;
      this.newColoumn.unsigned = false;
      this.isVisibleNewColoumn = false;
    },
    saveNewColoumn() {
      var isSuccess = true;
      if (this.newColoumn.coloumnName === null) {
        isSuccess = false;
        this.$message.error("Coloumn name is required");
      }

      if (this.newColoumn.dataType === null) {
        this.$message.error("Data type is required");
        isSuccess = false;
      }

      if (isSuccess === false) {
        return;
      }

      this.addNewColoumn({
        table_id: this.tableKeyConfig,
        coloumn_name: this.newColoumn.coloumnName,
        data_type: this.newColoumn.dataType,
        primaryKey: this.newColoumn.primaryKey,
        notNull: this.newColoumn.notNull,
        unique: this.newColoumn.unique,
        autoIncrement: this.newColoumn.autoIncrement,
        default: this.newColoumn.default,
        foreignKey: this.newColoumn.foreignKey,
        comment: this.newColoumn.comment,
        unsigned: this.newColoumn.unsigned
      });

      this.newColoumn.coloumnName = null;
      this.newColoumn.dataType = null;
      this.newColoumn.primaryKey = false;
      this.newColoumn.notNull = false;
      this.newColoumn.unique = false;
      this.newColoumn.autoIncrement = false;
      this.newColoumn.default = null;
      this.newColoumn.foreignKey = false;
      this.newColoumn.comment = null;
      this.newColoumn.unsigned = false;
      this.isVisibleNewColoumn = false;
    },
    saveChange(coloumn) {
      this.updateColoumnTable({
        newColoumn: this.newColoumnName,
        tableName: this.tableName,
        oldColoumn: coloumn
      });
    },
    // eslint-disable-next-line
    getSelectedColoumn(raw) {
      // window.alert(JSON.stringify(this.dataDiagramNew[raw.tableKeyConfig].association[this.dataDiagramNew[raw.tableKeyConfig].coloumns[raw.keyColoumn].association_belong_id]))
      if (
        this.dataDiagramNew[raw.tableKeyConfig].association[
          this.dataDiagramNew[raw.tableKeyConfig].coloumns[raw.keyColoumn]
            .association_belong_id
        ] === undefined
      ) {
        return null;
      } else {
        return this.dataDiagramNew[raw.tableKeyConfig].association[
          this.dataDiagramNew[raw.tableKeyConfig].coloumns[raw.keyColoumn]
            .association_belong_id
        ].targetKey_id;
      }
    },
    // eslint-disable-next-line
    getSelectedTable(raw) {
      if (
        this.dataDiagramNew[raw.tableKeyConfig].association[
          this.dataDiagramNew[raw.tableKeyConfig].coloumns[raw.keyColoumn]
            .association_belong_id
        ] === undefined
      ) {
        return null;
      } else {
        return this.dataDiagramNew[raw.tableKeyConfig].association[
          this.dataDiagramNew[raw.tableKeyConfig].coloumns[raw.keyColoumn]
            .association_belong_id
        ].table_id;
      }
    },
    getColoumnOption(raw) {
      // window.alert(JSON.stringify(this.dataDiagramNew[raw.tableKeyConfig].association[this.dataDiagramNew[raw.tableKeyConfig].coloumns[raw.keyColoumn].association_belong_id]))
      if (
        this.dataDiagramNew[raw.tableKeyConfig].association[
          this.dataDiagramNew[raw.tableKeyConfig].coloumns[raw.keyColoumn]
            .association_belong_id
        ] === undefined
      ) {
        return [];
      } else {
        return Object.keys(
          this.dataDiagramNew[
            this.dataDiagramNew[raw.tableKeyConfig].association[
              this.dataDiagramNew[raw.tableKeyConfig].coloumns[raw.keyColoumn]
                .association_belong_id
            ].table_id
          ].coloumns
        );
      }
    },
    // deleteColoumn(coloumn_id) {
    //   window.alert("delete : " + coloumn_id);
    // },
    // updateAssociationBelongTableName(selectedNewTable, association_id) {
    //   // this.updateAssociation
    //   // eslint-disable-next-line
    //   console.log(JSON.stringify(value) + " | " + JSON.stringify(option));
    // },
    // throttledColor: throttle(function () {
    //     this.conf.default = this.newColor
    // }, 500),
    // throttledTextColor: throttle(function () {
    //     this.conf.default = this.newTextColor
    // }, 500),

    updateColor(tableKeyConfig) {
      // this.newColor = color
      this.updateTableColor({
        table_id:tableKeyConfig,
        tableNewColor:this.newColor
      })
    },
    updateTextColor(tableKeyConfig) {
      // this.newColor = color
      this.updateTableTextColor({
        table_id:tableKeyConfig,
        tableNewTextColor:this.newTextColor
      })
    },
    cancelEdit() {
      this.setShowDetailcoloumn(-1);
    },
    ...mapMutations("Data/Project", {
      deleteColoumn: "deleteColoumn",
      setVisibleConfigTable: "setVisibleConfigTable",
      updateColoumnTable: "updateColoumnTable",
      updateColoumnName: "updateColoumnName",
      updatePrimaryKey: "updatePrimaryKey",
      updateNotNull: "updateAllowNull",
      updateForeignKeyStatus: "updateForeignKeyStatus",
      updateUnique: "updateUnique",
      updateUnsigned: "updateUnsigned",
      updateAutoIncrement: "updateAutoIncrement",
      updateAssociation: "updateAssociation",
      updateAssociationBelongTableName: "updateAssociationBelongTableName",
      updateAssociationBelongColoumnName: "updateAssociationBelongColoumnName",
      updateTableName: "updateTableName",
      updateTableColor: "updateTableColor",
      updateTableTextColor: "updateTableTextColor",
      addNewColoumn: "addNewColoumn",
      deleteTable: "deleteTable",
      setIsEditTableName: "setIsEditTableName",
      setShowDetailcoloumn: "setShowDetailcoloumn",
      addNewEmptyColoumn: "addNewEmptyColoumn",
      setVisibleDetailTable: "setVisibleDetailTable",
      updateDataType: "updateDataType",
      UPDATE_DEFAULT_VALUE: "UPDATE_DEFAULT_VALUE",
      UPDATE_COMMENT: "UPDATE_COMMENT"
    }),
    showDetail(val, keyColoumn) {
      this.isVisibleNewColoumn = false;
      // this.isEditTableName = false;
      this.setIsEditTableName(false);
      this.newColoumnName = this.dataDiagramNew[this.tableKeyConfig].coloumns[
        keyColoumn
      ].coloumn_name;
      this.newDataType = this.dataDiagramNew[this.tableKeyConfig].coloumns[
        keyColoumn
      ].dataType;
      if (val === this.showDetailcoloumn) {
        this.setShowDetailcoloumn(-1);
      } else {
        this.setShowDetailcoloumn(val);
      }
    },
    onClose() {
      this.setVisibleDetailTable(false);
    },
    changeEditableColoumnName() {
      if (this.isEditColoumnName === true) {
        this.isEditColoumnName = false;
      } else {
        this.isEditColoumnName = true;
      }
    },
    changeEditableColoumnType() {
      if (this.isEditColoumnType === true) {
        this.isEditColoumnType = false;
      } else {
        this.isEditColoumnType = true;
      }
    },
    visibleNewColoumn() {
      this.addNewEmptyColoumn({
        table_id: this.table_id
      });
      this.setShowDetailcoloumn(
        Object.keys(this.dataDiagramNew[this.table_id].coloumns).length - 1
      );
    },
    handleSearch(value) {
      this.dataSource = [];
      this.data_types.forEach(dataType => {
        if (dataType.indexOf(value.toUpperCase()) >= 0) {
          this.dataSource.push(dataType);
        }
      });
    }
  },
  data() {
    return {
      data_types: [
        "TINYINT",
        "SMALLINT",
        "MEDIUMINT",
        "INT",
        "BIGINT",
        "FLOAT",
        "DOUBLE",
        "DATETIME",
        "DATE",
        "TIMESTAMP",
        "CHAR(5)",
        "VARCHAR(255)",
        "BINARY",
        "VARBINARY",
        "BLOB",
        "TEXT",
        "JSON"
      ],
      dataSource: [],
      visibleMessageColoumn: true,
      isVisibleNewColoumn: false,
      newColoumn: {
        coloumnName: null,
        dataType: null,
        primaryKey: false,
        notNull: false,
        unique: false,
        unsigned: false,
        autoIncrement: false,
        foreignKey: false,
        comment: null,
        default: null,
        refTable_id: null,
        refColoumn_id: null
      },
      selectedTable: null,
      newColoumnName: "",
      newComment: "",
      newDataType: "",
      newDefault: "",
      newColor: "",
      newTextColor: "",
      // isEditTableName: false,
      isEditColoumnName: false,
      isEditColoumnType: false
      // showDetailcoloumn: 3
    };
  }
};
</script>
<style>
.tableDetailDialog .ant-drawer-body {
  padding: 0px ;
}
.tableDetailDialog  .ant-drawer-header {
  background: #316896;
  color: #ffffff !important;
}
.tableDetailDialog  .ant-drawer-title {
  margin: 0 !important;
  font-size: 20px !important;
  line-height: 10px !important;
  font-weight: 500 !important;
  color: #ffffff;
}
.tableDetailDialog  .ant-drawer-header {
  border-radius: 0px 0px 0 0 !important;
}
/* .ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  line-height: 25px !important;
  height: 25px !important;
} */
</style>

