<template>
  <div style=" padding-top:40px; background:#F1F1F1">
    <div style="padding-left:100px;">
      <h2 style="font-weight:400;margin-bottom:5px;color:#444444">Dbd</h2>
      <h3 style="font-weight:300;margin-bottom:0;color:#444444">
        Joy your design
        <h5 style="display: inline-block">🎃🎃🎃🎃</h5>
      </h3>
    </div>
    <a-row>
      <a-col :span="8" style="padding-left:100px;">
        <div class="help">
          <label class="help-text">Recent</label>
          <a>Whetever...</a>
          <!-- <a>On Page repot</a>
          <a>Law of theor</a> -->
          <a>More..</a>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script>
export default {};
</script>

<style>
.help {
  margin-top: 40px;
}
.help a {
  display: block;
}
.help-text {
  display: block;
  padding-bottom: 5px;
  font-size: 20px;
}
</style>

