<!DOCTYPE html>
<html lang=en>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141765789-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141765789-1');
    </script>            
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/static/landing_page/img/core-img/favicon.png>
    <title>dbd</title>
    <script src=/static/app/js/jquery-2.1.3.min.js></script>
    <link href=/static/app/css/metro.css rel=stylesheet>
    <link href=/static/app/css/metro-icons.css rel=stylesheet>
    <script src=/static/app/js/metro.js></script>
    <!-- Updated in above -->
    <link href=/static/app/css/app.ffb1eec3.css rel=preload as=style>
    <link href=/static/app/css/chunk-vendors.c8ee86ae.css rel=preload as=style>
    <link href=/static/app/js/app.2de93046.js rel=preload as=script>
    <link href=/static/app/js/chunk-vendors.44b1fde9.js rel=preload as=script>
    <link href=/static/app/css/chunk-vendors.c8ee86ae.css rel=stylesheet>
    <link href=/static/app/css/app.ffb1eec3.css rel=stylesheet>
</head>

<body>
    <noscript><strong>We're sorry but graphich-model doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
    <div id=app></div>
    <script src=/static/app/js/chunk-vendors.44b1fde9.js></script>
    <script src=/static/app/js/app.2de93046.js></script>
</body>

</html>