<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <!-- <link rel="icon" href="/static/landing_page/img/core-img/favicon.png"> -->
    <title>dbd</title>
    <!-- <script src="/js/jquery-2.1.3.min.js"></script>
    <link href="/css/metro.css" rel="stylesheet">
    <link href="/css/metro-icons.css" rel="stylesheet">
    <script src="/js/metro.js"></script> -->
    <!-- <script src="https://metroui.org.ua/v3/js/metro.js"></script> -->

    <script src="<%= BASE_URL %>js/jquery-2.1.3.min.js"></script>
    <link href="<%= BASE_URL %>css/metro.css" rel="stylesheet">
    <link href="<%= BASE_URL %>css/metro-icons.css" rel="stylesheet">
    <script src="<%= BASE_URL %>js/metro.js"></script>    
    
    <!-- <link href="/metro-responsive.css" rel="stylesheet"> -->
    <!-- <script src="/metro.js"></script>
    <script src="https://metroui.org.ua/v3/js/jquery-2.1.3.min.js"></script>
    <link href="https://metroui.org.ua/v3/css/metro.css" rel="stylesheet">
    <link href="https://metroui.org.ua/v3/css/metro-icons.css" rel="stylesheet">
    <link href="https://metroui.org.ua/v3/css/metro-responsive.css" rel="stylesheet"> -->    
    <!-- <script src="https://metroui.org.ua/v3/js/docs.js"></script> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but graphich-model doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
